body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #333; /* Light black background */
}

.calculator {
    background-color: #444; /* Slightly lighter black for the frame */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    height: 60%; /* Default height for medium and large screens */
}

.calculator input {
    grid-column: span 4;
    height: 50px;
    text-align: right;
    border: none;
    font-size: 18px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1) inset;
    background-color: #222;
    color: white; /* White text color */
}

.calculator button {
    height: 50px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    opacity: 0.75; /* 75% opacity */
}

.number, .operator {
    background-color: black;
}

.number:hover, .operator:hover {
    background-color: #333;
    opacity: 1;
}

.operator {
    background-color: orange;
}

.operator:hover {
    background-color: darkorange;
    opacity: 1;
}

.clear {
    background-color: #dc3545;
    grid-column: span 4; /* Span all columns in small and medium screens */
}

.clear:hover {
    background-color: #c82333;
    opacity: 1;
}

.equal {
    background-color: #28a745;
}

.equal:hover {
    background-color: #218838;
    opacity: 1;
}

/* Responsive Styles */

@media (max-width: 992px) {
    /* Medium (md) screens */
    .calculator {
        grid-template-columns: repeat(4, 1fr); /* 4 columns */
        height: 60%; /* Adjusted height for medium screens */
    }
    .calculator button {
        height: 60px; /* Increase height for better touch interaction */
        font-size: 20px;
    }
    .clear {
        display: none; /* Hide clear button in the grid for medium screens */
    }
}

@media (max-width: 576px) {
    /* Small (sm) screens */
    .calculator {
        grid-template-columns: repeat(4, 1fr); /* 4 columns */
        height: 80%; /* Adjusted height for small screens */
    }
    .calculator button {
        height: 60px; /* Increase height for better touch interaction */
        font-size: 20px;
    }
    .clear {
        display: block; /* Display clear button outside the grid for small screens */
        grid-column: span 4; /* Span all columns */
        height: 60px; /* Set height same as other buttons */
    }
    .calculator input {
        grid-column: span 4; /* Span all columns for input field in small screens */
    }
}
